@font-face {
    font-family: 'gg sans semibold';
    src: url('../../assets/font/GGsans-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'gg sans';
    src: url('../../assets/font/GGsans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'gg sans bold';
    src: url('../../assets/font/GGsans-Bold.ttf') format('truetype');
}


.login {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow: auto;
}

.login-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.login-wrapper {
    position: absolute;
    top: calc(50vh - (408px / 2));
    left: calc(50vw - (784px / 2));
    width: 784px;
    height: 408px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(223 calc( 1 * 6.7%) 20.6% / 1);
    text-align: center;
    padding: 32px;
    font-size: 18px;
    box-shadow: 0 2px 10px 0 hsl(0 calc( 1 * 0%) 0% / 0.2);
    border-radius: 5px;
    box-sizing: border-box;
    color: hsl(214 calc( 1 * 8.1%) 61.2% / 1);
}

.login-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: start;
    width: 550px;
}

.login-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-header > h1 {
    font-family: 'gg sans semibold';
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 8px;
    color: hsl(220 calc( 1 * 13%) 95.5% / 1);
}

.login-subheader {
    font-family: 'gg sans semibold';
    font-size: 16px;
    line-height: 1.25;
    color: hsl(215 calc( 1 * 8.8%) 73.3% / 1);
}

.login-form {
    width: 100%;
    text-align: left;
    margin-top: 20px;
}

.login-credential,
.login-password {
    margin-bottom: 20px;
}

.error {    
    font-family: 'gg sans bold';
    font-size: 12px;
    letter-spacing: .02em;
    display: block;
    margin-bottom: 8px;
    color: hsl(358 calc( 1 * 92.9%) 72.4% / 1);
}

.err-msg {
    font-style: italic;
}

.login-cred,
.login-pw {
    font-family: 'gg sans bold';
    font-size: 12px;
    letter-spacing: .02em;
    display: block;
    color: hsl(215 calc( 1 * 8.8%) 73.3% / 1);
    margin-bottom: 8px;
}

.required {
    padding-left: 4px;
    color: hsl(358 calc( 1 * 92.9%) 72.4% / 1);
}

.login-input {
    display: flex;
    align-items: center;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    padding: 8px;
    color: hsl(210 calc( 1 * 9.1%) 87.1% / 1);
    background-color: hsl(225 calc( 1 * 6.3%) 12.5% / 1);
    border: none;
    transition: border-color .2s ease-in-out;
}

.login-button, .demo-button {
    font-family: 'gg sans';
    color: hsl(0 calc( 1 * 0%) 100% / 1);
    background-color: hsl(235 calc( 1 * 85.6%) 64.7% / 1);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 0px;
    border-radius: 3px;
    cursor: pointer;
    height: 40px;
}

.register-link {
    margin-top: 4px;
    font-family: 'gg sans';
    color: white;
    font-size: 14px;
    line-height: 16px;
}

.register-link-button {
    color: hsl(200 calc( 1 * 100%) 49.4% / 1);
    display: inline-block;
    margin-left: 4px;
    margin-bottom: 0;
    vertical-align: bottom;
    padding: 0;
    width: auto;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.spacer {
    margin: 0 32px;
    border: 1px solid hsl(228, calc(1 * 6%), 32.5%, 0.48);
}

.login-demo-header {
    font-family: 'gg sans semibold';
    margin-bottom: 8px;
}

.login-demo-header > h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 4px;
    font-weight: 600;
    line-height: 1.25;
}