@font-face {
    font-family: 'gg sans semibold';
    src: url('../../assets/font/GGsans-Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'gg sans';
    src: url('../../assets/font/GGsans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'gg sans medium';
    src: url('../../assets/font/GGsans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'gg sans bold';
    src: url('../../assets/font/GGsans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'ginto bold';
    src: url('../../assets/font/Ginto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'ginto nord';
    src: url('../../assets/font/Ginto-Nord-Black.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
}

.splash-page {
    height: 100vh;
    margin: 0;
}

.nav-img {
    width: 38px;
    height: 38px;
}


.splash-content-container {
    padding-top: 150px;
    text-align: center;
}

.splash-content {
    max-width: 840px; 
    margin: 0 auto; 
}

.splash-content-header h1 {
    font-family: 'ginto nord';
    font-weight: 700;
    font-size: 64px; 
    color: #ffffff; 
    margin-bottom: 28px;
}

.splash-content-body p {
    font-family: 'gg sans';
    font-size: 18px;
    color: #ffffff; 
    margin: 0 auto;
    line-height: 1.625;
    margin-bottom: 28px;
}

.splash-content-end h2 {
    font-family: 'ginto nord';
    font-weight: 700;
    font-size: 42px;
    color: #ffffff; 
}

.splash-content-start {
    margin-top: 64px;

}

.splash-content-start-button {
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    background-color: #23272a;
    color: white;
    font-family: 'gg sans semibold';
    text-decoration: none;
}


.splash-content-start-button:hover {
    animation: glow 1s infinite alternate;
}

.splash-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}